.cart-products {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cart-products table {
    width: 50%;
}

.cart-products table tr,
th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.cart-products table td {
    border: 1px solid #ccc;
    padding-left: 5px;
}

.checkout-info {
    text-align: center;
    margin-top: 5rem;
}

.checkout-info input {
    padding: 10px;
    margin-top: 10px;
    width: 300px;
}

.checkout-info button {
    padding: 10px;
    margin-top: 10px;
    width: 100px;
}

.checkout-info span {
    font-weight: 600;
    font-size: 18px;
}

.cart_heading {
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}